<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS鼠标滑过动画</title>
	<link rel="stylesheet" href="../widgets/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../css/CSS鼠标滑过动画.css">
</head>
<body>
<div class="container">
<div class="list_box">
	<div class="list">
		<ul class="piclist mainlist">
			<li>
				<div class="card_imgbox">
					<img src="../images/product/粤通卡.png" alt="">
				</div>
				<div class="card_name">粤通卡</div>
				<p class="card_text">★万事达品牌人民币美元双币信用卡，国内境外均可用<br>★支持人民币自动购汇还款，每笔全球交易都将自动转换成人民币入账<br>★2016年12月31日前免收1.5%的货币兑换费<a href="http://22.188.44.178/ims/login" target="_blank">活动</a>
				</p>
				<div class="card_btn">
					<input type="button" class="btn btn-danger" value="立即申请">
				</div>
				
			</li>
			<li>
				<div class="card_imgbox">
					<img src="../images/product/长城环球通信用卡.png" alt="">
				</div>
				<div class="card_name">长城环球通信用卡</div>
				<p class="card_text">★万事达品牌人民币美元双币信用卡，国内境外均可用<br>★支持人民币自动购汇还款，每笔全球交易都将自动转换成人民币入账<br>★2016年12月31日前免收1.5%的货币兑换费<a href="http://22.188.44.178/ims/login" target="_blank">活动</a>
				</p>
				<div class="card_btn">
					<input type="button" class="btn btn-danger" value="立即申请">
				</div>
			</li>
			<li>
				<div class="card_imgbox">
					<img src="../images/product/中银辽宁通信用卡.png" alt="">
				</div>
				<div class="card_name">中银辽宁通信用卡</div>
				<p class="card_text">★万事达品牌人民币美元双币信用卡，国内境外均可用<br>★支持人民币自动购汇还款，每笔全球交易都将自动转换成人民币入账<br>★2016年12月31日前免收1.5%的货币兑换费<a href="http://22.188.44.178/ims/login" target="_blank">活动</a>
				</p>
				<div class="card_btn">
					<input type="button" class="btn btn-danger" value="立即申请">
				</div>
			</li>
			<li>
				<div class="card_imgbox">
					<img src="../images/product/云南惠游卡.png" alt="">
				</div>
				<div class="card_name">云南惠游卡</div>
				<p class="card_text">★万事达品牌人民币美元双币信用卡，国内境外均可用<br>★支持人民币自动购汇还款，每笔全球交易都将自动转换成人民币入账<br>★2016年12月31日前免收1.5%的货币兑换费<a href="http://22.188.44.178/ims/login" target="_blank">活动</a>
				</p>
				<div class="card_btn">
					<input type="button" class="btn btn-danger" value="立即申请">
				</div>
			</li>
			<li>
				<div class="card_imgbox">
					<img src="../images/product/中银南航明珠银联芯片信用卡.png" alt="">
				</div>
				<div class="card_name">中银南航明珠银联芯片信用卡</div>
				<p class="card_text">★万事达品牌人民币美元双币信用卡，国内境外均可用<br>★支持人民币自动购汇还款，每笔全球交易都将自动转换成人民币入账<br>★2016年12月31日前免收1.5%的货币兑换费<a href="http://22.188.44.178/ims/login" target="_blank">活动</a>
				</p>
				<div class="card_btn">
					<input type="button" class="btn btn-danger" value="立即申请">
				</div>	
			</li>
			<li>
				<div class="card_imgbox">
					<img src="../images/product/中银广电信用卡.png" alt="">
				</div>
				<div class="card_name">中银广电信用卡</div>
				<p class="card_text">★万事达品牌人民币美元双币信用卡，国内境外均可用<br>★支持人民币自动购汇还款，每笔全球交易都将自动转换成人民币入账<br>★2016年12月31日前免收1.5%的货币兑换费<a href="http://22.188.44.178/ims/login" target="_blank">活动</a>
				</p>
				<div class="card_btn">
					<input type="button" class="btn btn-danger" value="立即申请">
				</div>
			</li>
			<li>
				<div class="card_imgbox">
					<img src="../images/product/中银钛金女士信用卡.png" alt="">
				</div>
				<div class="card_name">中银钛金女士信用卡</div>
				<p class="card_text">★万事达品牌人民币美元双币信用卡，国内境外均可用<br>★支持人民币自动购汇还款，每笔全球交易都将自动转换成人民币入账<br>★2016年12月31日前免收1.5%的货币兑换费<a href="http://22.188.44.178/ims/login" target="_blank">活动</a>
				</p>
				<div class="card_btn">
					<input type="button" class="btn btn-danger" value="立即申请">
				</div>
			</li>
			<li>
				<div class="card_imgbox">
					<img src="../images/product/中银杉井奥莱联名卡.png" alt="">
				</div>
				<div class="card_name">中银杉井奥莱联名卡</div>
				<p class="card_text">★万事达品牌人民币美元双币信用卡，国内境外均可用<br>★支持人民币自动购汇还款，每笔全球交易都将自动转换成人民币入账<br>★2016年12月31日前免收1.5%的货币兑换费<a href="http://22.188.44.178/ims/login" target="_blank">活动</a>
				</p>
				<div class="card_btn">
					<input type="button" class="btn btn-danger" value="立即申请">
				</div>
			</li>
			<li>
				<div class="card_imgbox">
					<img src="../images/product/中银全民健身信用卡.png" alt="">
				</div>
				<div class="card_name">中银全民健身信用卡</div>
				<p class="card_text">★万事达品牌人民币美元双币信用卡，国内境外均可用<br>★支持人民币自动购汇还款，每笔全球交易都将自动转换成人民币入账<br>★2016年12月31日前免收1.5%的货币兑换费<a href="http://22.188.44.178/ims/login" target="_blank">活动</a>
				</p>
				<div class="card_btn">
					<input type="button" class="btn btn-danger" value="立即申请">
				</div>
			</li>
		</ul>
	</div>
	 <div class="og_prev"><img src="../images/prev.png" alt=""></div>
    <div class="og_next"><img src="../images/next.png" alt=""></div>
</div>
</div>
<script src="../js/jquery-3.2.1.js"></script>
<script type="text/javascript">
$(function(){
	 var arrLi=$(".mainlist li");
	 var i=1;
	var liW = $('.mainlist li').width();
	// alert(liW);
	liW = liW + 30;
    var linum = $('.mainlist li').length;//图片数量
    // alert(linum);
    var w = linum * liW;//ul宽度
    $('.piclist').css('width', w + 'px');//ul宽度
    // $('.swaplist').html($('.mainlist').html());//复制内容
    arrLi.eq(0).addClass("piclist_hover");
    $('.og_next').click(function(){
    	
 		arrLi.eq(i++).addClass("piclist_hover");
 		// arrLi.siblings().removeClass("piclist_hover");

        if($('.swaplist,.mainlist').is(':animated')){
            $('.swaplist,.mainlist').stop(true,true);
        }
        if($('.mainlist li').length>4){//多于4张图片
            var ml = parseInt($('.mainlist').css('left'));//默认图片ul位置
            if(ml<=0 && ml>(w-1205)*-1){//默认图片显示时
                $('.mainlist').animate({left: ml - 224 + 'px'},'1000');//默认图片滚动             
            }else{//交换图片显示时
                $('.mainlist').animate({left: '0px'},'1000')//默认图片放在显示区域右
            }
        }
    });
    $('.og_prev').click(function(){
        if($('.mainlist').is(':animated')){
            $('.mainlist').stop(true,true);
        }
        if($('.mainlist li').length>4){
            var ml = parseInt($('.mainlist').css('left'));
            if(ml<0 && ml>w*-1){
                $('.mainlist').animate({left: ml + 224 + 'px'},'1000');             
            }else{
                $('.mainlist').animate({left: '0px'},'1000');
            }
        }
    });
    $("li").hover(
    	function(){
    		$(this).addClass("piclist_hover");
    		$(this).css('left','10px');
    	},
    	function(){
    		$(this).removeClass("piclist_hover");
    		$(this).css('left',0);
    	}
    );
   

   
});
</script>
</body>
</html>